<h1><strong>Title :</strong><%= @post.title %></h1>
<h3><strong>Post Description :</strong><%= @post.description %></h3>
<h4><strong>Contact Name :</strong> <%= @post.contact_name %></h4>
<h4><strong>Contact Email :</strong> <%= @post.contact_email %></h4>
<h4><strong>Contact Number :</strong> <%= @post.contact_no %></h4>